MAD/cmdline-tools
MAD/flutter
MAD/labs/**/build
MAD/labs/**/ios
MAD/labs/**/windows
MAD/labs/**/linux
venv
.venv
WSD/labs/**/obj
WSD/labs/**/bin
WSD/labs/**/packages
PWS_Labs_7sem/
__pycache__/
gpt4free/
_curse/diploma/.env
