<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IService1" />
   </basicHttpBinding>
   <netTcpBinding>
    <binding name="tcpEndpoint">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IService1">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
	<client>
		<endpoint name="NetTcpEndpoint"
					address="net.tcp://localhost:8734/Design_Time_Addresses/WCF/Service1/"
					binding="netTcpBinding"
					contract="ServiceReference1.IService1">
			<identity>
				<dns value="localhost" />
			</identity>
		</endpoint>
	</client>
	</system.serviceModel>
</configuration>