aiokafka
alembic
asyncpg
authlib
bcrypt
click
fastapi
fastapi-pagination
httpx
httptools
itsdangerous
Jinja2
passlib
pika
pip
psycopg2-binary
pydantic
pydantic[email]
pydantic-settings
pytest
pytest-asyncio
python-dotenv
PyJWT
PyYAML
redis
requests
SQLAlchemy
starlette
tenacity
uvicorn
uvloop
websockets
